
    <div class="container">
      <div class="page">
      <div class="page-title">Permissions</div>
      <div class="row">
        <div class="perm-select">
        <a href="#" class="choose all">All permissions</a>
        <a href="#"class="choose custom">Private Custom</a>
        </div>
        <form class="form-position " >
          <input type="submit" class=" btn-save" value="Add">

          <input type="text" class="text" id="roleName" placeholder="Group Name" name="Name" formControlName="Name" >

        </form>
      </div>
        <div class=" row table-position">

          <div class="">
            <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
              <thead>
                  <tr>
                      <th class="col">Group Name</th>
                      <th class="col">Add</th>
                      <th class="col">Eidet</th>
                      <th class="col">Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="col">rol1</td>
                      <td class="col"><input type="checkbox" id="" name="" value=""></td>
                      <td class="col"><input type="checkbox" id="" name="" value=""></td>
                      <td class="col"><input type="checkbox" id="" name="" value=""></td>
                  </tr>

                  <tr>
                    <td class="col">rol2</td>
                    <td class="col"><input type="checkbox" id="" name="" value=""></td>
                    <td class="col"><input type="checkbox" id="" name="" value=""></td>
                    <td class="col"><input type="checkbox" id="" name="" value=""></td>
                </tr>
                <tr>
                    <td class="col">rol3</td>
                    <td class="col"><input type="checkbox" id="" name="" value=""></td>
                    <td class="col"><input type="checkbox" id="" name="" value=""></td>
                    <td class="col"><input type="checkbox" id="" name="" value=""></td>
                </tr>

                <tr>
                  <td class="col">rol4</td>
                  <td class="col"><input type="checkbox" id="" name="" value=""></td>
                  <td class="col"><input type="checkbox" id="" name="" value=""></td>
                  <td class="col"><input type="checkbox" id="" name="" value=""></td>
              </tr>



              </tbody>
          </table>
          </div>

        </div>
      </div>

    </div>



