
    <div class="container">
      <div class="page">
      <div class="page-title">Permissions</div>
      <div class="row">
        <div class="perm-select">
        <a href="#" class="choose all">All permissions</a>
        <a href="#"class="choose custom">Private Custom</a>
        </div>
        <form class="form-position "  (submit)="addRole($event)" [formGroup]="formGroup" method="submit">
          <!-- <p class="form-text text-danger validatin-msg" >{{error}}</p> -->
          <input type="submit" class=" btn-save" value="Add">
          <input type="text" class="text" id="roleName" placeholder="Group Name" name="name" formControlName="name" >
          <ng-container *ngIf="getName.touched">
            <div id="emailHelp" class="form-text text-danger validation-msg"   *ngIf="getName.hasError('required')">
              This field is required
            </div>
            <div id="emailHelp" class="form-text text-danger validatin-msg" *ngIf="getName.hasError('minlength')">
              Group name must be at least 3 characters
            </div>
          </ng-container>

        </form>

        <div class=" row table-position">

          <div class="">
            <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
              <thead>
                  <tr>
                      <th class="col">Group Name</th>
                      <th class="col">Add</th>
                      <th class="col">Eidet</th>
                      <th class="col">Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let role of roles" (click)="selectRow(role.id)">
                      <td class="col">{{role.name}}</td>
                      <td class="col"><input type="checkbox" id="" name="" value=""></td>
                      <td class="col"><input type="checkbox" id="" name="" value=""></td>
                      <td class="col"><input type="checkbox" id="" name="" value=""></td>
                  </tr>



              </tbody>
          </table>
          </div>

        </div>
      </div>

    </div>



