* {
  box-sizing: border-box;
}
.wrapper {
  height: auto;
  min-height: 100vh;
  padding: 1000px 20px 100px 100px;
  padding-top: 100px;
  display: flex;
  margin-left: 10px;
}

body {
  font-family: Poppins-Regular;
  line-height: 1.2;
  font-weight: unset!important;
  color: #666;
}

.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 900px;
  position: relative;
  margin-top: 40px;
}

 

.profile-card-img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px rgb(34, 174, 255), 0px 0px 0px 7px rgb(164, 162, 162);
}
 
.profile-card-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.modal-header-personal{
  position: relative;
  background-color: #2a6889;
  border-radius: 20px;
  margin-left: 50px;
  width: 12vw;  
}
.modal-header-employmentdata{
  position: relative;
  background-color: #2a6889;
  border-radius: 20px;
  margin-left: 50px;
  width: 15vw;  
}
.personaldata,.employmentdata{
  font-family: Poppins-Regular;
  font-weight: unset!important; /* Remove default font weight */
  text-align: center;
  color: white;
}
.lead{
  padding-left: 70px; 
}
 

 

 