

<div class="container">
  <div class="page">
  <div class="page-title">Roles</div>

    <div class="form-position">
      <button type="button" class=" btn-save"  [routerLink]="['/permissions','0','edit']">Add</button>
    </div>
    <div class=" row table-position">

      <table class="table ">
        <thead>
          <tr >
            <th scope="col " colspan="2">Group Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles "  >
            <td [routerLink]="['/permissions/', role.id,'edit']" >{{role.groupName}}</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>



