

<div class="container">
  <div class="page">
  <div class="page-title">Roles</div>

    <form class="form-position "  (submit)="addRole($event)" [formGroup]="formGroup" method="submit">
      <!-- <p class="form-text text-danger validatin-msg" >{{error}}</p> -->
      <input type="submit" class=" btn-save" value="Add" [routerLink]="['/permissions']">
      <input type="text" class="text" id="roleName" placeholder="Group Name" name="name" formControlName="name" >
      <ng-container *ngIf="getName.touched">
        <div id="emailHelp" class="form-text text-danger validation-msg"   *ngIf="getName.hasError('required')">
          This field is required
        </div>
        <div id="emailHelp" class="form-text text-danger validatin-msg" *ngIf="getName.hasError('minlength')">
          Group name must be at least 3 characters
        </div>
      </ng-container> -->
      <button type="button" class=" btn-save"  [routerLink]="['/permissins']">Add</button>
    </div>



    <div class=" row table-position">

      <table class="table ">
        <thead>
          <tr >
            <th scope="col " colspan="2">Group Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles "  >
            <td><a [routerLink]="['/permissions/', role.id]">{{role.groupName}}</a></td>
            <!-- icons  -->


          </tr>
        </tbody>
      </table>


    </div>
  </div>

</div>

