.container {
    height: 740px
  }
  
  .card {
    border-radius: .8rem;
    margin-left: 17vw;
    margin-top: 4vw;
    width: 78%;
    height: 550px;
    overflow-y: scroll;
  }
  
  table td, table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    font-size: 18px; 
    padding-block: 30px;
  }
  
  .table-hover tbody tr:hover td {
    background-color: #edeaeb; 
  }
  
  th {
    background-color: #036088; /* Header background color */
    color: #fff; /* Header text color */
    font-family: Poppins-Regular;
    line-height: 1.2;
    font-weight: unset!important;  /* Remove default font weight */
    position: sticky;
    top:0px;
    padding-left: 20px;
  }
  
  /* Style for table rows */
  tr {
    font-family: Poppins-Regular;
    line-height: 1.2;
    font-weight: unset!important; /* Remove default font weight */
  }
  
  td {
    color: #666; /* Default text color for table cells */
  }
.btn-addemp{
    background-color: #036088;
    color: #fff;
    margin-left: 70vw;
    margin-bottom: 10px;
  }
  