<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <a (click)="toggleCollapse()" class="logo"><img src="assets/images/logoligth.png" alt="hav"  ></a>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">HR System</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{data.label}}
                </span>
            </a>
        </li>
        <li class="border-top my-3"></li>
        <div class="dropdown mt-3 sidenav-nav-item ">
            <a href="#" class="link-light text-decoration-none  "  style="" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <!-- <i class="bi bi-person-circle" style="color: white; display:inline-block;  "> </i> -->
                <img src="assets/images/user2.png" alt="hav"  style="width:4vw ; height:6.5vh;" class="mb-1 ">
            </a>
            <span @fadeInOut *ngIf="collapsed" class="text-light ms-3" >{{username}}</span>
            <ul class="dropdown-menu text-small shadow " aria-labelledby="dropdownUser2" style="" >
            
              <li><a class="dropdown-item" href="#">Premission</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" routerLink="/login">log out</a></li>
            </ul>
          </div>
    </ul>
 
</div>
